{% extends 'base_blog.html' %}
{% load watson %}

{% block title %}PDX Pixel Blog Search Results{% endblock title %}

{% block search_block %}
<div class="col-md-8">

    <h1 class="detail-title">
        Search results{% if query %} for &ldquo;{{ query }}&rdquo;{% endif %}<br>
        <span class="detail-description">View results below, and click one to continue</span>
    </h1>
    <hr>

    {% if results %}
        {% for result in results %}
            <p class="search-results">
                <a href="{{ result.url }}">{{ result.title }}</a>
            </p>
        {% endfor %}

    {% else %}
        <h4>No search results available.</h4>
        {% if not query %}
            <p>Please enter a search query in the search form.</p>
        {% endif %}
    {% endif %}

</div>
{% endblock search_block %}

</table>