{% include 'base.html' %}
{% load staticfiles %}

{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
        <img style="margin: 4em 0 0 0;" src="{% static 'images/pdxpixel_logo.png' %}">
        <h1 style="margin: -1em 0 0.5em 2em; font-size: 50px;">Portland, Pixels, and Programming</h1>
        <p>
            A weblog about IT operations, usability, web application development,
            and delivering high quality software to your users... and a bit about ukuleles.
        </p>
        <div class="btn-con-300px">
            <p>
                <a class="btn btn-block btn-primary btn-lg" href="{% url 'blog:post-list' %}" role="button">
                    Read some articles &nbsp;<span class="glyphicon glyphicon-share-alt"></span>
                </a>
            </p>
        </div>

    </div>
</div>
{% endblock jumbotron %}
