/*
styles.css
*/

/***** global styles *****/

body {
    background-color: #eeeeee;
    font-family: 'Titillium Web', sans-serif;
}

blockquote {
    font-size: 14px;
    color: #8c8c8c;
}


/***** helper, utility styles *****/

.strong { font-weight: bold; }
.clear-both { clear: both; } /* use `.clearfix` instead, native to bootstrap*/
.float-left { float: left; } /* use `.pull-left` instead, native to bootstrap*/
.float-right { float: right; } /* use `.pull-right` instead, native to bootstrap*/
.float-none { float: none; }

/* margins, padding, etc */

.mv-up-1em { margin-top: -1em; }
.mv-up-2em { margin-top: -2em; }
.mv-up-3em { margin-top: -3em; }
.mv-up-4em { margin-top: -4em; }
.mv-up-5em { margin-top: -5em; }

.mv-down-1em { margin-top: 1em; }
.mv-down-2em { margin-top: 2em; }
.mv-down-3em { margin-top: 3em; }
.mv-down-4em { margin-top: 4em; }
.mv-down-5em { margin-top: 5em; }

.mar-bottom-1em { margin-bottom: 1em; }
.mar-bottom-2em { margin-bottom: 2em; }
.mar-bottom-3em { margin-bottom: 3em; }
.mar-bottom-4em { margin-bottom: 4em; }
.mar-bottom-5em { margin-bottom: 5em; }

.width-300px { max-width: 300px; }
.width-400px { max-width: 400px; }
.width-500px { max-width: 500px; }
.width-600px { max-width: 600px; }
.width-700px { max-width: 700px; }

.width-content { display: inline-block; }

.font-16px { font-size: 16px; }

/***** specific styles *****/
#top-sticky-msg {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 100;
    padding: 5px 0 10px 0;
    border-radius: 0;
    margin-bottom: 25px;
}

.detail-title {
    margin: -2em 0 0 3.5em;
    font-size: 28px;
}

.search-results {
    font-size: 18px;
}

.detail-description {
    font-size: 20px;
}

.flatpage-title, .page-title {
    margin: -2em 0 0 3.5em;
    font-size: 32px;
}

.flatpage-description, .page-description {
    font-size: 18px;
}

.btn-con-300px {
    max-width: 300px;
    padding-top: 20px;
}

.alert-close-btn {
    top: 2px !important;
    right: -15px !important;
}

/***** bootstrap tweaks *****/

.navbar-inverse {
    background: none #214c5c;
    border-color: #91001b;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #d0d0d0;
}

.btn-primary {
    background: none #5a5b27;
    border-color: #4E4F23;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active { /*.btn-primary:active, .btn-primary:active:focus*/
    background: none #4E4F23;
    border-color: #3C3D19;
}


.open .dropdown-toggle.btn-primary {
    background: none yellowgreen;
    border-color: #3C3D19;
}
