{% extends 'base_blog.html' %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block title %}{{ post.title }}{% endblock title %}

{% block blog_post %}

<div id="blog-post">

    <div class="col-md-8">

        {% if post.title|length < 50 %}
            <h1 class="detail-title">
                {{ post.title }}<br>
                <span class="detail-description">{{ post.description }}</span>
            </h1>
            <hr>
        {% else %}
            <h1 class="detail-title">
                {{ post.title }}<br>
            </h1>
            <hr>
            <p class="detail-description">{{ post.description }}</p>
        {% endif %}

        <p class="date">
            <span class="glyphicon glyphicon-time"></span>
            Published on
            <time datetime="{{ post.published|date:"c" }}">
                {{ post.published|date }}
            </time>
            by <a href="{% url 'accounts:profile' %}">{{ post.author }}</a>
        </p>

        <p class="tags">
            <strong>Tags: </strong>{{ post.tags.all|join:', ' }}
        </p>

        {{ post.content|markdown }}

        <div class="blog-comments wmd-input">

            <h3>Comments</h3>

            <div id="disqus_thread"></div>

            <script>
            var disqus_shortname = 'pdxpixel'; // required: replace example with your forum shortname

            // DON'T EDIT THIS FUNCTION
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
            </script>

            <noscript>
                Please enable JavaScript to view the
                <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.
                </a>
            </noscript>

            <a href="http://disqus.com" class="dsq-brlink">
                Comments powered by <span class="logo-disqus">Disqus</span>
            </a>

        </div>

    </div>

</div>
{% endblock blog_post %}
