{% extends 'base.html' %}
{% load staticfiles %}
{% load taggit_templatetags2_tags %}

{% block styles %}
    <link href="{% static 'css/blog.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/fontello.css' %}" rel="stylesheet" media="screen">
{% endblock styles %}

{% block blog %}
<div class="container">
    <div class="row">
        <a href="/">
            <img style="margin-left: 1em;" src="{% static 'images/pdxpixel_logo.png' %}">
        </a>

        {% block blog_list %}{% endblock blog_list %}
        {% block blog_post %}{% endblock blog_post %}
        {% block flatpage %}{% endblock flatpage %}
        {% block search_block %}{% endblock search_block %}
        {% block profile %}{% endblock profile %}
        {% block tag_list %}{% endblock tag_list %}

        <div id="accounts-section">
            {% block authentication %}{% endblock authentication %}
        </div>

        <div class="col-md-4 mv-up-5em">

            <div class="well">
                <h4><span class="glyphicon glyphicon-search"></span>
                    &nbsp;Blog Search
                </h4>
                <form action="{% url 'watson:search' %}">
                    <div class="input-group">
                        <label for="search"></label>
                        <input id="search" class="form-control"
                            type="text" name="q" value="{{ request.GET.q }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                Go!
                            </button>
                        </span>
                    </div>
                </form>
            </div>

            <div class="well">
                <h4><span class="glyphicon glyphicon-tags"></span>
                    &nbsp; Popular Tags
                </h4>
                <div class="row">
                    <div class="col-lg-12">
                    {% get_taglist as tags %}
                        {% for tag in tags %}
                            {{ tag.name }},
                        {% endfor %}
                        <a href="{% url 'blog:tag-list' %}">view tags...</a>
                    </div>
                </div>
            </div>

            <div class="well">
                <h4><span class="glyphicon glyphicon-comment"></span>
                    &nbsp;Questions/Comments?
                </h4>
                <p>
                    <span class="icon-mail-alt"></span>
                    Drop me a line...
                    <a href="mailto:nick@pdxpixel.com">nick@pdxpixel.com</a>
                    <br>
                    <span class="icon-twitter"></span>
                        Follow me on Twitter...
                    <a href="https://twitter.com/nicorellius" target="_blank">
                        @nicorellius
                    </a>
                    <br>
                    <span class="icon-facebook"></span>
                    Share on
                    <span class="fb-share-button"
                         data-href="{{ request.get_full_path }}"
                         data-layout="button_count"
                         data-size="small"
                         data-mobile-iframe="true">
                        <a class="fb-xfbml-parse-ignore" target="_blank"
                           href="https://www.facebook.com/sharer/sharer.php?u={{ request.get_full_path }}">
                             Facebook...
                        </a>
                    </span>
                </p>
            </div>

        </div>

    </div>
</div>

{% endblock blog %}

