{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
    <link href="{% static 'css/blog.css' %}" rel="stylesheet" media="screen">
{% endblock styles %}

{% block blog %}
<div class="container">
    <div class="row">
        <a href="/">
            <img style="margin-left: 1em;" src="{% static 'images/pdxpixel_logo.png' %}">
        </a>

        <div id="blog-list">
            {% block blog_list %}{% endblock blog_list %}
        </div>

        <div id="blog-post">
            {% block blog_post %}{% endblock blog_post %}
        </div>

        <div id="flatpage">
            {% block flatpage %}{% endblock flatpage %}
        </div>

        <div>
            {% block search_block %}{% endblock search_block %}
        </div>

        <div>
            {% block authentication %}{% endblock authentication %}
        </div>

        <div class="col-md-4 mv-up-5em">

            <div class="well">
                <h4><span class="glyphicon glyphicon-search"></span> &nbsp;Blog Search</h4>
                <form action="{% url 'watson:search' %}">
                    <div class="input-group">
                        <label for="search"></label>
                        <input id="search" class="form-control" type="text" name="q" value="{{request.GET.q}}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                Go!
                            </button>
                        </span>
                    </div>
                </form>
            </div>

            <div class="well">
                <h4><span class="glyphicon glyphicon-tags"></span> &nbsp; Popular Tags</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#">{{ tag }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="well">
                <h4><span class="glyphicon glyphicon-comment"></span> &nbsp;Questions/Comments?</h4>
                <p>
                    Drop me a line...
                    <a href="mailto:nick@pdxpixel.com">nick@pdxpixel.com</a><br>
                        Follow me on Twitter...
                    <a href="https://twitter.com/nicorellius" target="_blank">
                        @nicorellius
                    </a>
                </p>
            </div>

        </div>

    </div>
</div>

{% endblock blog %}

