<!DOCTYPE html>
{% load staticfiles %}

<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>
    
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="fiblist is a django project for the fuck it bucket survival product">
<meta name="author" content="nicorellius of CISTech Consulting">

<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="screen">
<title>{% block title %}{{ title }}{% endblock title %}</title>

</head>
       
<body>

<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3 jumbotron">
            <div class="text-center">
                <h1>{% block header_text %}{% endblock header_text %}</h1>
                <form method="post" action="{% block form_action %}{% endblock form_action %}">
                    {% csrf_token %}
                    <input id="id_new_item" class="form-control input-lg"
                        name="item_text" placeholder="Enter a To-Do item" />
                    {% if error %}
                        <div class="form-group has-error">
                            <span class="help-block">{{ error }}</span>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% block table %}{% endblock table %}
        </div>
    </div>

</div>

</body>

</html>
