{% extends 'base_blog.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %}PDX Pixel Logged out{% endblock title %}

{% block authentication %}

<div class="col-md-8">

    <h1 class="detail-title">
        You have been logged out.<br>
        <span class="detail-description">You can log in again below.</span>
    </h1>

    <hr>

    <h3 style="width: 100px;"><a href="{% url 'accounts:login' %}">
        <button class="btn btn-primary btn-block" type="button">Log in</button>
    </a></h3>

</div>

{% endblock authentication %}