{% extends 'base_blog.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %}PDX Pixel Log in{% endblock title %}

{% block authentication %}

<div class="col-md-8">

    <h1 class="detail-title">
        Please log in below<br>
        <span class="detail-description">Enter username and password below.</span>
    </h1>

    <hr>

    <form style="width: 300px;" action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button class="btn btn-primary btn-block mv-down-2em" type="submit">Log in</button>
    </form>

</div>

{% endblock authentication %}

